:root {
  --gap-0: 0rem;
  --gap-1: 0.8rem;
  --gap-2: 1.6rem;
  --gap-3: 2.4rem;
  --gap-4: 3.2rem;
  --gap-5: 4.8rem;
  --gap-6: 6.4rem;
  --gap-7: 7.2rem;
  --gap-8: 9.6rem;
  --gap-9: 12.8rem;

  --responsive-xs: 0;
  --responsive-sm: 576px;
  --responsive-md: 768px;
  --responsive-lg: 992px;
  --responsive-xl: 1200px;
  
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;

  --nav-bar-background: #242526;
  --page-background: #18191A;
}